<mat-card>
  <h1 class="centered">Information & FAQ</h1>
  <ul>
    <mat-card>
      <li>
        <h3>What is the KEF?</h3>
        <p>
            The Krytan Expeditionary Force is a military styled roleplay guild dedicated to Queen Jennah 
            and the whole of Kryta. Our main base of operations is the gilded hollow, 
            however when we are in the greater world our main base is at Nebo Terrace in Gendarren fields.
        </p>
      </li>
    </mat-card>
    <mat-card>
      <li>
        <h3>What can I expect on a roleplay side of things?</h3>
        <p>
          We are <strong>not</strong> a hardcore roleplay guild. We do not enforce correct grammar/spelling, 
          and we do not only take veterans to roleplay. Many of our long standing members 
          first got into roleplay upon joining the KEF, so we very warmly welcome players new to roleplay, 
          and we would love to help you get more acquainted with it.  
        </p>
        <p>
          Being military styled, you can expect our inner guild interactions to be fairly, well… military styled. 
          We have a rank system with many different ranks from many different militaries around the real world. 
          We salute a lot, and address our superiors as “sir” or “ma’am”. 
          Many of our open world events and roleplay arcs involve combat of some sort 
          (whether IC combat or combat gameplay in the open world).
        </p>
        <p>
          Being an open world guild, we don’t only hang around in the guild hall or cities and just derp around. 
          We spend a lot of time in the open world, doing events, defending settlements, etc while roleplaying as we go. 
          While we do have events where there is no open world involved, if you want to get involved with us, 
          expect that we will do a lot in the open world. 
          There are plenty of guilds to join if you want to hang out at taverns all day- we are not one of them.
        </p>
      </li>
    </mat-card>
    <mat-card>
      <li>
        <h3>Are there any uniforms or rep requirements?</h3>
        <p>
          Being a military styled roleplay guild, you would think yes- but no. 
          We try not to force people into following too many strict guidelines, so there are no uniforms. 
          If you do want to display the KEF colours, you can dye your armour red/white/black.
        </p>
        <p>
          There are no rep requirements, although we appreciate it if you represent us during our meetings.
        </p>
      </li>
    </mat-card>
    <mat-card>
      <li>
        <h3>What is the policy for meetings and attendance?</h3>
        <p>
            We meet four times a week, but note that these meetings are <strong>not</strong> mandatory. 
            Each member is encouraged to try and join us for as many as possible, 
            but we do not have a “minimum number of meetings you have to attend per week” kind of deal.
        </p>
        <p>
          <strong>Monday</strong> night meetings start at 8:20 PM EST, and are led usually by Max/Kneefast in the discord. 
          These are <strong>money making meetings</strong> dedicated to helping you make some money for your account. 
        </p>
        <p>
          <strong>Wednesday</strong> night meetings start at 8:20 PM EST, and don’t have a dedicated leader persay. 
          If there is a leader, the leader just calls people together and decides where the roleplay happens. 
          Essentially, the idea is that KEF members just choose a location, gather together,
          and <strong>roleplay & chill</strong>. Get to know your fellow KEF members, make friends, and have a good time :D
        </p>
        <p>
          <strong>Friday</strong> night meetings start at 9:20 PM EST, and are <strong>open world patrol/recruitment nights</strong>. 
          On these nights we do IC patrols through low levelled zones with the intent of chilling and having a good time 
          alongside bringing new members into the fold. We want to be very open and encouraging to anyone who stops by to join us.
        </p>
        <p>
          <strong>Saturday</strong> night meetings start at 9:20 PM EST, and are our <strong>roleplay arc</strong> nights. 
          We have a dedicated writer’s team developing story arcs for the guild, to bring some deeper roleplay 
          and plot to our members. 
          <strong>
            These are our most roleplay oriented and most important meetings, 
            so if you are able to make these meetings, it would be much appreciated.
          </strong>
        </p>
      </li>
    </mat-card>
    <mat-card>
      <li>
        <h3>Are there any resources I should be aware of?</h3>
        <p>
            Located in the menu above, we have a resources page where we list all of the resources you might need, 
            from combat rules and guidelines, to story arc summaries, to a villain sign up sheet- you name it! 
        </p>
        <p>Please take a look and read through some of them as time permits!</p>
      </li>
    </mat-card>
  </ul>
</mat-card>
