<mat-card>
  <h1 class="centered">KEF Affairs</h1>
  <p>
    Here, you'll find a list of documents relating to the In-Character Internal Affairs of the KEF.
    This includes the following:
  </p>
  <mat-card class="highlight" (click)="guildHallOverviewClick()">
    <span> 
      <strong>Guild Hall Overview:</strong> Contains an overview of the security, amenities, and resource situation of the guild (is subject to change based on need). 
    </span>
  </mat-card> 
  <mat-card class="highlight" (click)="kefCharterClick()">
    <span>
        <strong>KEF Charter:</strong> Contains the charter of the Force, outlining its mission statement, structure and procedure, and authority. 
      This includes the updates to the Charter after revisal by the Ministry during the approval process.
    </span>
  </mat-card>
  <mat-card class="highlight" (click)="memberAgreementClick()">
    <span> 
      <strong>Member Agreement:</strong> Contains the member agreement that all characters have been implied to have agreed to upon joining the KEF; 
      including Oaths and some of the larger member rules. 
    </span>
  </mat-card>
  <mat-card class="highlight" (click)="disciplinePolicyClick()">
    <span> 
      <strong>Discipline Policy:</strong> Outlines the IC rules, punishments, and procedures of the Krytan Expeditionary Force regarding internal policy 
      (for a more concise overview of the rules see the Member Agreement).
    </span>
  </mat-card>
  <mat-card class="highlight" (click)="officersAndTeamsClick()">
    <span><strong>Officers and Teams:</strong> A listing of all of the various officer positions and teams within the KEF.</span>
  </mat-card>
  <mat-card class="highlight" (click)="golemsClick()">
    <span><strong>Golems:</strong> Contains descriptions of the types of Golems in the Krytan Expeditionary Force.</span>
  </mat-card>
  <p>
</mat-card>
