<mat-card>
  <h1 class="centered">Side Arcs</h1>
  <mat-card>
    <p>
      Side Arcs are a way for KEF members to see their plot ideas brought to life, even if the idea doesn't fit within the current scope of KEF story arcs.
    </p>
    <p>
      These side arcs will take place over a number of weeks, on one of the following three days each week:
    </p>
    <p>
      <li>Monday</li>
      <li>Wednesday</li>
      <li>Friday</li>
    </p>
    <p>
      The actual times they will occur at are based on our normal meeting times in the FAQ section, and the
      day is of the arc-submitter's choosing.
    </p>
    <p>
      The writing team will handle the logistics: if you can provide us with a plotline for each meeting, characters that are needed,
      places to visit, etc, we'll handle the recruitment of people to play NPCs for each meeting.
    </p>
  </mat-card>
  <mat-card>
    <p>
      Let's discuss plot. As aforementioned, the plot of your sidearc does not have to be related to any of the KEF's current main arc plot.
      That said, the success of any good arc is going to come down to two things: <b>story</b> and <b>execution</b>, the former of which is the foundation.
    </p>
    <p>
      You should try and think your arc out to the best of your ability - to help you out, here's a few questions you can ask yourself:
    </p>
    <p>
      <li>Who is the villain?</li>
      <li>What are the villain's motivations?</li>
      <li>Why is the villain a threat?</li>
      <li>How is the KEF involved in the plot/how would they come to be involved in the plot?</li>
      <li>What is it that's going to make this arc exciting? Big battles, intriguing story, or something else?</li>
      <li>What are the possible outcomes of this arc upon victory or defeat?</li>
    </p>
  </mat-card>
  <mat-card>
    <b>To submit a side-arc idea: Head over to the resources section, select the option for arc submissions, and fill out the form. It's that easy!</b>
  </mat-card>
</mat-card>