<mat-card>
  <h1 class="centered">Rules</h1>
  <p>
    <i>
      Before we begin: Rules may be expanded upon and new rules may be added when the situation demands it.
      I will announce any rule changes, but please check back often so you are not caught unaware.
    </i>
  </p>
  <p>
    The KEF has a baseline set of rules that we expect all members to abide by, both in game and in discord.
    <strong>
      There will be a three strike system- if you acquire three strikes you will be banned from the discord
      and/or kicked from the guild.
    </strong>
  </p>
  <ol>
    <mat-card>
      <li>
        Respect members of this discord and guild. Offensive/racist/sexist/ageist remarks will not be tolerated,
        and will result in a strike.
      </li>
    </mat-card>
    <mat-card>
      <li>
        Spamming (in discord or in game) will not be tolerated, and will result in a strike.
      </li>
    </mat-card>
    <mat-card>
      <li>
        Please keep sexually explicit/NSFW content (including anything even remotely related)
        and chatter OUT of all discord chat channels and guild chat, memes or no.
        Any posts relating to the above topic (in discord) will be removed, and will result in a strike.
      </li>
    </mat-card>
    <mat-card>
      <li>
        Debate and argument is welcome up to a point.
        As soon as insults or demeaning/condescending remarks enter the conversation, the argument ends.
        Refusal to do so when asked by a moderator or admin will result in a strike.
      </li>
    </mat-card>
    <mat-card>
      <li>
        In discord, please refrain from use of the @everyone ping.
        This is reserved for emergencies. Stick to @here.
        If you do this multiple times, you will lose access to either ping.
      </li>
    </mat-card>
  </ol>
</mat-card>

<mat-card>
  <h1 class="centered">Roleplay Rules</h1>
  <p>
    <i>
      Before we begin: Rules may be expanded upon and new rules may be added when the situation demands it.
      I will announce any rule changes, but please check back often so you are not caught unaware.
    </i>
  </p>
  <p>
    This set of rules is to do with what we expect our members to do/not do when it comes to IC conduct or backstory.
  </p>
  <p>
    <b>
      It is okay if you have a backstory that conflicts with some of these rules, but if you do, please do not bring it up in guild operations/meetings without the consent of the moderation team.
    </b>
  </p>
  <ol>
    <mat-card>
      <li>
        No character may hunt/attempt to kill/kill any other player’s character IC if the other player has not given consent.
      </li>
    </mat-card>
    <mat-card>
      <li>
        If your character has any sort of relationship with the upper echelons of any major race’s government, please clear it with the moderators (Fizz, Raven, or Max).
        <ul>
          <li>
            Example: Anyone with direct contact with the Queen, Anise, Logan, etc.
          </li>
          <li>
            Example: Seraph Captain, Tribune, etc.
          </li>
        </ul>
      </li>
    </mat-card>
    <mat-card>
      <li>
        If your character is a member of any group with very limited spots, please clear it with the moderators.
        <ul>
          <li>
            Example: Minister, Arcane Councillor, Firstborn, Havourn, etc
          </li>
        </ul>
      </li>
    </mat-card>
    <mat-card>
      <li>
        If you are a member of a group that actively opposes the KEF’s goals, ambitions or virtues
        and would still like to take part in IC guild operations on that character, please clear it with the moderators.
        <ul>
          <li>
            Example: Awakened, active White Mantle, active Flame Legion, active Nightmare Court, etc.
          </li>
        </ul>
      </li>
    </mat-card>
    <mat-card>
      <li>
        If your character has abnormally strong or unique powers (Ex: Clairvoyance), please clear it with the moderators.
      </li>
    </mat-card>
    <mat-card>
      <li>
        If you want to ERP (<i>specifically, anything sex related that would not be done in public</i>) with anyone,
        please confine it to only the members involved, and keep it separate from guild activities.
        (IE Not in guild chat, not in the guild hall, not in the discord, not a part of guild operations,
        not representing the guild while doing so, etc). <b>We will not be held responsible if a minor is involved in ERP.
        Anyone caught violating this rule will be kicked from the guild and discord, minus very sparse exceptions.</b>
      </li>
    </mat-card>
    <mat-card>
      <li>
        If you intend to stage a major security breach, it <b>MUST</b> be cleared with the KEF Moderation Team (Nehfas, Hapless Peasant, or Elivaras).
        This includes anything that affects a large portion of the guild, major changes or revelations
        about the nature of the guild hall, or requires a large security response (i.e. a prison break or intrusion).
        Private RPs or anything that affects a closed group of players does not need approval.
      </li>
    </mat-card>
    <mat-card>
      <li>
        On the note of prison breaks- when anyone is held in the KEF holding cell, <b>there will always be a golem standing guard</b>.
        While not impossible to evade, <b>the golem can and will report all escape attempts and/or escapes</b> (that is,
        if you have someone in the jail, you can’t magically disappear without anyone knowing about it-
        at the very least, your escape will be known). That said, the golem is unlikely to be beaten by a single individual
        in combat.
      </li>
    </mat-card>
  </ol>
</mat-card>
