<mat-card>
  <h1 class="centered">Rules</h1>
  <p>
    <i>
      Before we begin: Rules may be expanded upon and new rules may be added when the situation demands it.
      I will announce any rule changes, but please check back often so you are not caught unaware.
    </i>
  </p>
  <p>
    The KEF has a baseline set of rules that we expect all members to abide by, both in game and in discord.
    <strong>
      There will be a three strike system- if you acquire three strikes you will be banned from the discord 
      and/or kicked from the guild.
    </strong>
  </p>
  <ul>
    <li> 
      Respect members of this discord and guild. Offensive/racist/sexist/ageist remarks will not be tolerated, 
      and will result in a strike.
    </li>
    <li>
      Spamming (in discord or in game) will not be tolerated, and will result in a strike.
    </li>
    <li>
      Please keep sexually explicit/NSFW content (including anything even remotely related) 
      and chatter OUT of all discord chat channels and guild chat, memes or no. 
      Any posts relating to the above topic (in discord) will be removed, and will result in a strike.
    </li>
    <li>
        Debate and argument is welcome up to a point. 
        As soon as insults or demeaning/condescending remarks enter the conversation, the argument ends. 
        Refusal to do so when asked by a moderator or admin will result in a strike.
    </li>
    <li>
        In discord, please refrain from use of the @everyone ping. 
        This is reserved for emergencies. Stick to @here. 
        If you do this multiple times, you will lose access to either ping.
    </li>
  </ul>
</mat-card>
