<mat-card>
	<div>
    <mat-card class="centered">
      <h1>Your Character And You</h1>
      <h3>Creating a character that's flexible and interesting can not only be a challenge to do, but a challenge to play as well. This guide swhould help you build a foundation on which you can leap off and enjoy the game.</h3>
      
      <p>So, you want to make a character? It's incredibly important for roleplay to have a character at the ready, since you'll be trying to live as they would. Basing a character around yourself if you're inexperienced is a pretty good start, and keeping a few notes might help you in the long run as well. In this exercise, we'll be mocking up the creation of a character i have had a little bit of experience playing as.</p>      
    </mat-card>
    <mat-card>
      <div class="centered">
        <h4>STEP 1: Create the Character</h4>
        <p>Creating the character is the easy part: Figure out their name, their gender and sex, sexual orientation, and their allegiances are incredibly important parts of a character and will help you flesh out who they are in the future. For now, let's look at Ira Sacco:</p>
      </div>
      <table class="invisible centered">
      <tr>
        <td>
          <img src="https://i.imgur.com/bxwlVO3.png" width=25% height=25%>
        </td>
        <td>
          <table class="invisible">
          <tr>
            <td>Name:</td>
            <td>Ira Sacco</td>
          <tr>
          <tr>
            <td>Sex:</td>
            <td>Female</td>
          </tr>
          <tr>
            <td>Gender/Pronouns:</td>
            <td>Female/she, her</td>
          </tr>
          <tr>
            <td>Orientation:</td>
            <td>Undefined</td>
          </tr>
          <tr>
            <td>Allegiances:</td>
            <td>Krytan Expeditionary Force</td>
          </tr>
          </table>
        </td>
      </tr>
      </table>
      <p>As you can see here, she has a bit of basic information about her, and that's really all you need to start roleplaying. Of course, you can always either have your character flesh themselves out as you play them, or you can continue through the steps to create an interesting character with fully fheshed out behaviour.</p>
    </mat-card>
    <mat-card>
      <div class="centered">
        <h4>STEP 2: The Origins</h4>
        <p>The origins of a character can really help define who they are as a person, how they interact with others, and how they initially view new people and places. A pretty general format to follow is "First, they were _____, then they _____, and finally they ____." As a demonstration, you can read through Ira's basic backstory here. Try and see how each piece defines her and affects her behaviour.</p>
      </div>
      <div>
        <i>
          <p>
            "Ira was a
            <abbr title="The fifth set of pods born of the Pale Tree, sylvari (read: Canach) count these. For example, Caithe is a notable firstborn.">fifthborn</abbr>
            from the Pale Tree, at the beginning of
            <abbr title="A very angry and mean Elder Dragon, and the centre of Heart of Thorns.">Mordremoth</abbr>
            's awakening. Feeling that it was her calling to help, she joined the Second Technicians of the
            <abbr title="An organization formed by the Priory, the Order of Whispers and the Vigil entering a truce. This organization was led by Trahearne and the Commander.">Pact</abbr>
            to delve into the Heart of Maguuma. She later retired from the patrols after a couple years of service, instead deising to live a quiet life.
          </p>
          <p>She developed a drinking habit as she opened the Sacco Bunkhouse and Brunch in Caledon Forest, taking the name after a close friend of hers succumbed to Mordremoth's call and turned on their camp. There, she came across a young wandering Charr cub who had been abandoned by his warband after refusing to join in with military drills. Later on, she began collecting other misfits and unfortunate people, building the business and heling as many people as she could. These people often adopted the Sacco name as well.</p>
          <p>A few years passed rather quietly, and Ira decided to sign up with the Krytan Expeditionary Force, a small guild of soldiers serving under the Queen. She will always put her "family" before the guild, but she does try and help out where she can."</p>
        </i>
      </div>
      <div>
        If we look at this, we can then judge how each incident shaped Ira's viewpoint and personality. We can go through it and make a shoirt list of each effect and the incident.
        <ul class="half-width">
          <li>Ira was born a relatively normal Sylvari, but was brought into the heat of the war at a very young age. This helped her develop a very high sense of loyalty to her team, and gave her the engineering mind she has now.</li>
          <li>She developed a drinking habit after having a close friend not only die, but be taken over by Mordremoth and have to be put down. It also helped develop her sense of self and her family.</li>
          <li>Her desire to help others who had lost their way was cemented after meeting Fluffy, since he reminded her of her old friend.</li>
        </ul>
      </div>
    </mat-card>
    <mat-card class="centered">
      <h4>STEP 3: Play!</h4>
      <p>Now, you've finished the hard part and it's time to try your character out, eh? Well, at this point all you have to do is find a meeting time (For testing characters you can either do the larger Wednesday meeting or ask anyone if they want to help in the Discord channel) and see how they flow. Just remember, if you don't like something you can always change it! For more information on general roleplaying and how to start, click <abbr title="Eli, you haven't actually finished that article yet but when you do link it here.">here!</abbr> Now get out there and get your RP on!</p>
    </mat-card>

    <mat-card>
        <div class="about-author centered">
            <h3>About the Author</h3>
            <table class="invisible">
            <tr>
              <td>
                <img src="https://cdn.discordapp.com/avatars/212091317881143296/a_bf82cf688b32d9299224f661745e1074.gif">
              </td>
              <td>
                <p>Sacco is a more junior member of the guild, hanging around the Discord channel more than guild meetings, can often be seen shitposting or making terrible puns. In voice chat, yelling at his cat or being annoyed about questions regarding accents is also common.</p>
                <p> You can get in contact with him over Discord at DragonnFire29#4643 or via <a href="/cdn-cgi/l/email-protection#563223253d2530373a3a16313b373f3a7835393b">e-mail</a>. You can also check out his personal site <a href="http://johnbot.org">here</a>.</p>
              </td>
            </tr>
            </table>
          </div>
    </mat-card>
	</div>
</mat-card>
