<mat-card>
  <h1 class="centered">Resources</h1>
  <p>
    Here you will find all the resources you might need, from combat rules and guidelines, 
    to story arc summaries, to a villain sign up sheet- you name it! 
  </p>
  <ul>
    <li>
      <p>
        <strong>ROSTER.</strong> 
        Please use this document to add in your account and character information associated with this guild:
      </p>
      <a target="_blank" href="https://docs.google.com/spreadsheets/d/1acwjVwtQGpiiMTQKceqRk8vmYSQY6WtWL778s741MWs/edit?usp=sharing">Roster</a>
    </li>
    <li>
      <p><strong>COMBAT.</strong> For rules used in formal RP combat during major guild events, please refer to this sheet:</p>
      <a target="_blank" href="https://docs.google.com/document/d/1EJ7Y_VhvtorK9EKMKf2y5v8qAUoywd7uMWeogHjdgK4/edit?usp=sharing">Combat</a>
    </li>
    <li>
      <p>
        <strong>STORY ARC SUMMARIES.</strong> If you were unable to attend a story arc meeting or simply wish to 
        read along with our progress, please view this document:
      </p>
      <a target="_blank" href="https://docs.google.com/document/d/1HiDB05nDKABYEfbRQI8-KXGr9e5qMkV64OrHmlo29Yc/edit?usp=sharing">Story Arc Summaries</a>
    </li>
    <li>
      <p>
        <strong>VILLAINS.</strong>
        If you're interested in becoming a villain in one of the guild's RP events, please sign up using this sheet:
      </p>
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeJDDkQUITA_APxHPwOaNl_Hr5-8YODaRYl2rSN_b2pisb0pA/viewform?usp=sf_link">Villain Sign-Up Sheet</a>
    </li>
    <li>
      <p>
        <strong>ADD RESOURCES.</strong> 
        If you'd like to peruse or add additional resources related to the guild, 
        here's a handy dandy folder to our guild's shared folder:
      </p>
      <a target="_blank" href="https://drive.google.com/open?id=0B4OGFj1Iq3sqUWhMWTdHdExPRTA">Guild Shared Folder</a>
    </li>
  </ul>
</mat-card>