<mat-card>
  <h1 class="centered">Resources</h1>
  <p>
    Here you will find all the resources you might need, from combat rules and guidelines,
    to story arc summaries, to a villain sign up sheet- you name it!
  </p>
  <ul>
    <mat-card class="link" (click)="rosterClick()">
      <li>
        <p>
          <strong>ROSTER.</strong>
          Please use this document to add in your account and character information associated with this guild.
        </p>
      </li>
    </mat-card>
    <mat-card class="link" (click)="combatClick()">
      <li>
        <p><strong>COMBAT.</strong>
          For rules used in formal RP combat during major guild events.
      </li>
    </mat-card>
    <mat-card class="link" (click)="summaryClick()">
      <li>
        <p>
          <strong>ARC SUMMARIES.</strong>
          If you were unable to attend a story arc meeting or simply wish to read along with our progress.
        </p>
      </li>
    </mat-card>
    <mat-card class="link" (click)="submissionClick()">
      <li>
        <p>
          <strong>ARC SUBMISSIONS.</strong>
          If you would like to submit an idea for an upcoming arc!
        </p>
      </li>
    </mat-card>
    <mat-card class="link" (click)="villainClick()">
      <li>
        <p>
          <strong>VILLAINS.</strong>
          If you're interested in becoming a villain in one of the guild's RP events.
        </p>
      </li>
    </mat-card>
    <mat-card class="link" (click)="writerClick()">
      <li>
        <p>
          <strong>WRITERS.</strong>
          If you'd like to apply to become a part of the writing team that deals with the guild's major arcs on Saturdays, please submit your application via this form!
        </p>
      </li>
    </mat-card>
    <mat-card class="link" (click)="leaderAppClick()">
      <li>
        <p>
          <strong>LEADER APP.</strong>
          If you'd like to apply to lead one of the meetings, this is the form for you!
        </p>
      </li>
    </mat-card>
  </ul>
</mat-card>
