<mat-card>
  <div class="centered">
    <h1>Welcome to the Official Website of the Krytan Expeditionary Force!</h1>
    <img src="http://data.gw2.fr/guild-emblem/name/Krytan%20Expeditionary%20Force.png">
    <p>Here, we offer the following:</p>
    <div>Rules and Conduct for Guild Members in Discord & In-Game</div>
    <div>An FAQ for All the Information You Might Need</div>
    <div>Various Resources that You Might Find Useful</div>
    <div>Articles on All Things KEF & GW2</div>
    <p>
      We hope you enjoy your stay. If you have questions/feedback/concerns about the website, 
      please PM Elivaras#3544 on Discord, or mail ZachAttack.3957 In-Game!
    </p>
  </div>
</mat-card> 
