<h1>Welcome to the Official Website of the Krytan Expeditionary Force!</h1>
<p>Here, we offer the following:</p>
<ul>
  <li>Rules and Conduct for Guild Members in Discord & In-Game</li>
  <li>An FAQ for All the Information You Might Need</li>
  <li>Various Resources that You Might Find Useful</li>
  <li>Articles on All Things KEF & GW2</li>
</ul>
<p>
  We hope you enjoy your stay. If you have questions/feedback/concerns about the website, 
  please PM Elivaras#3544 on Discord, or mail ZachAttack.3957 In-Game!
</p>
