<mat-card>
  <p>
    Roleplay is, to put it simply, taking on the persona of your avatar. As you walk around in the open world,
    slaying monsters, encountering other people, or a vast variety of other things, you make your character talk and
    act like <em>you</em> would act if you were put in the place of your character.
  </p>
  <p>
    So, as a quick example. Let's say I've been slaying monsters with someone in the world that I randomly met for
    a while. After about half an hour, they start walking off/say they are need to go. How would your character respond?
    If we assume your character is a sylvari, perhaps you should say <em>"The Pale Tree guide you!"</em>
  </p>
  <p>
    With that example out of the way, let's take a dive into <em>how</em> roleplay is enacted.
    There are a number of in-game chats that people use for roleplay.
  </p>
  <ul>
    <li>
      First, "Say" chat, or local chat, can be accessed by typing /s or /say in the chat window. For the most part, you will use
      say chat for anything that is merely your character speaking, or speech combined with text, where the speech comes first.
      An example of the latter: <em>"The Pale Tree guide you", she says as she turns on her heel and walks off.</em>
    </li>
    <li>
      The second, and one that some people don't end up learning about for a long time is emote chat.
      Yes, emote chat is grey text that you normally see in the form of in-game emotes: /dance, /sleep, /sit, et cetera.
      However, you can actually access this chat without having to use an emote. Just begin your sentence with /me.
      So let's say you type in the following into your chat bar (you can do this in any chat):
      <em>/me walks into the tavern, and waves to any who would notice.</em>
      And this is what will be outputted in emote chat, assuming my character name is Physicist Fizz:
      <em>Physicist Fizz walks into the tavern, and waves to any who would notice.</em>
      You can see that it removes /me, and replaces it with your character name when you press enter and spread it to the world.
      This is the chat you're going to use to act out anything your character would be *doing*, or if they do something first and
      say something after. An example of the latter would be:
      <em>
        /me walks into the tavern, and looks around at all the patrons. "Good evening everyone!"
      </em>
    </li>
    <li>
      Now, these last two chats are used depending on the situation:
      <ul>
        <li>
          Party Chat: This is used when you don't want random strangers to see your roleplay.
          You would avoid using /me here, since that is shown to anyone nearby.
        </li>
        <li>
          Squad Chat/Guild Chat: These are used less often, but if used, they are generally to simulate
          long distance communication between characters via something like a communicator.
        </li>
      </ul>
    </li>
  </ul>
  <p>
    Alright, so with that covered, there are a few minor points we need to touch on.
  </p>
  <ul>
    <li>
      <em>What do you do if you need to say something out of character (IE say you'll be right back because you have to run and do something)?</em>
      Well, people can show this in a few ways, mostly involving brackets. Some common forms include:
      <ul>
        <li>Using two ending parantheses at the end of your sentence: <em>I'll brb))</em></li>
        <li>Surrounding everything in parantheses: <em>(I'll brb)</em></li>
        <li>And you'll likely run into some more!</li>
      </ul>
    </li>
    <li>
      <em>Are there any acronyms people commonly use?</em> There aren't many, but there are indeed a few!
      <ul>
        <li>
          IC - This stands for "in character". People might ask whether your character is IC in any given situation,
          which is essentially asking you if you want other people to acknowledge your presence.
        </li>
        <li>
          OOC - This is the opposite of IC, and stands for "out of character". For example, you might be near a group of
          roleplayers just to watch, so you might tell them you are OOC.
        </li>
      </ul>
    </li>
  </ul>
</mat-card>
