<mat-toolbar class="top-nav">
    <button mat-button class="mat-button" routerLink="/getting-started">
      <img src="http://data.gw2.fr/guild-emblem/name/Krytan%20Expeditionary%20Force/80.png" height=70 width=70>
      [KEF]
    </button>
    <button mat-button class="mat-button" routerLink="/rules" routerLinkActive="active">Rules</button>
    <button mat-button class="mat-button"  routerLink="/faq" routerLinkActive="active">FAQ</button>
    <button mat-button class="mat-button" routerLink="/resources" routerLinkActive="active">Resources</button>
    <button mat-button class="mat-button" routerLink="/articles" routerLinkActive="active">Articles</button>
    <button mat-button class="mat-button" routerLink="/upcoming-events" routerLinkActive="active">Events</button>
</mat-toolbar>
<div class="main">
  <router-outlet></router-outlet>
</div>
