<div style="text-align:center">
    <mat-toolbar>
        <button mat-button [matMenuTriggerFor]="welcome">Welcome</button>
        <mat-menu #welcome="matMenu">
          <button mat-menu-item routerLink="/getting-started" routerLinkActive="active">Getting Started</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/rules" routerLinkActive="active">Rules</button>
          <button mat-menu-item routerLink="/faq" routerLinkActive="active">FAQ</button>
          <button mat-menu-item routerLink="/resources" routerLinkActive="active">Resources</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="articles">Articles</button>
        <mat-menu #articles>
          <button mat-menu-item routerLink="/introduction-to-roleplay" routerLinkActive="active">Introduction to Roleplay</button>
          <button mat-menu-item routerLink="/creating-your-character" routerLinkActive="active">Creating Your Character</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="events">Events</button>
        <mat-menu #events>
          <button mat-menu-item routerLink="/upcoming-events" routerLinkActive="active">Upcoming Events</button>
        </mat-menu>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>

