<mat-card>
  <mat-card class="background">
    <h1 class="event-title centered">The Siege of Garenhoff</h1>
    <strong>
      <p class="centered">
        All across Tyria, Joko's forces have been using captured inquest asura gates to transport troops
        to the continent. Upon arrival, the hordes of awakened split in all directions, capturing important
        landmarks and securing targets of military importance.
      </p>
      <p class="centered">
        Tipped off by a sunspear informant, the Krytan Expeditionary Force, led by Commander Physicist Fizz and serving
        under Queen Jennah of Kryta, gains important intel detailing an attack that Palawa Joko has planned on the coastal
        city of Garenhoff.
      </p>
      <p class="centered">
        While small, the port town is a crucial point of supply for Kessex, and if it falls, Joko will have no issues keeping
        an army in the region. Forces must be moved to intercept immediately, and keep Joko's awakened from establishing a beach-head!
      </p>
      <p class="centered">
        Join the Krytan Expeditionary Force as they move to the defence of Garenhoff, and join the fight to keep the awakened horde
        off Krytan shores!
      </p>
      <p class="centered">
        <em>
          This is going to be a series of roleplay events that will take place over several Saturdays, starting on
          Saturday, January 20. To join us for this event, please mail ZachAttack.3957 in-game, or message Elivaras#3544 on discord!
        </em>
      </p>
      <p class="centered">
        <em>
          NOTE: We are looking for people to help play as awakened baddies! These are critical roles, and please message me
          via the contact information above if you would like to be one!
        </em>
      </p>
  </strong>
  </mat-card>
</mat-card>
