<mat-card>
  <mat-card class="background">
    <h1 class="event-title centered">Upcoming Events</h1>
    <strong>
      <p>
        <li>
          We’re starting off the new year by hosting a combat training arc for new and veteran players alike! 
          Whether you want to fine-tune your skills, or just refresh yourself on proper combat etiquette, 
          this meeting is the perfect time to get yourself in shape for upcoming arcs. Please be sure to visit 
          the guild’s Combat RP Rules in preparation for this event, which you can find easily in our resources section.
        </li>
        <li>
          The event will be held on December 29th, 2019 at 9:20pm edt. 
          Sparring groups will be led by General Danielle Tallwind, Captain Cadeyrn, Captain and Co-Head of Security Nehfas, 
          and Co-Head of Security Chaunae. Break lessons will be led by Captain Lars Preston.
        </li>
      </p>
      <p>
        <li>
          Story Arc 13 - "The Syndicate" - starts on January 5, 2019. Join us as we begin to uncover the mystery surrounding
          the mysterious organization that has helped us many times before...
        </li>
      </p>
    </strong>
  </mat-card>
</mat-card>
