<mat-card>
  <mat-card class="background">
    <h1 class="event-title centered">Upcoming Story Arcs</h1>
    <strong>
      <p>
        <li>
          Story Arc 14 - "The Xunlai Trade Organization" - starts on February 9. Join us as the Ministry appoints the KEF to negotiate an 
          arms deal with the Xunlai Trade Organization, a new group that we've never met before. What could go wrong?
        </li>
      </p>
    </strong>
  </mat-card>
</mat-card>
<mat-card>
  <mat-card class="xunlaiBackground">
    <h1 class="event-title centered">HELP WANTED</h1>
    <strong>
      <p>
        The New Xunlai Trade Organization wants you! The Xunlai Trade Organization is a Tyrian-wide endeavour working to pool together 
        the knowledge and manpower of craftsman of all races. Additionally, we provide an opportunity for craftsman who need a boost in 
        their career by providing them with contracts to fill orders our organization receives from our prestigious clientele. 
        Our organization is looking for a wide variety of labor positions, guards*, and brand representatives and negotiators. 
        If you are interested in any of these positions, contact your nearest brand representative. 
      </p>
      <p class="small-font">
        (( We're looking for people to play any of the above rolls in our upcoming story arc! Message Elivaras, Hapless Peasant
        or Educis in the discord if you'd like to be one. ))
        *Guards are expected to have competency in one of the recognized combat professions. Negotiators and brand representatives are expected to have past experience with a legitimate company.
      </p>
    </strong>
  </mat-card>
</mat-card>
