.background {
  background-image: url("Background3.png");
  color: white;
  font-family: "Papyrus";
  font-size: 30px;
  min-height: 1000px;
  text-shadow: 1px 1px black;
}

.xunlaiBackground {
  background-image: url("xunlaiBackground.jpg");
  color: white;
  font-family: "Papyrus";
  font-size: 30px;
  min-height: 1000px;
  text-shadow: 1px 1px black;
}

.small-font {
  font-size: 15px;
  margin-top: 300px;
}

.event-title {
  color: white;
  font-family: "Blackadder ITC";
  font-size: 120px;
}
