<mat-card>
  <mat-card class="background">
    <h1 class="centered event-title">Notice Board</h1>
    <p>
      <li>
        Due to recently hitting the decorations cap in the guild hall, there is a policy of one decoration put away for every
        decoration put out. This is to ensure we still have space for any needed decorations in the future.
        If you would like to put something out and you have nothing to put away, please message a moderator.
      </li>
    </p>
    <p>
      <li>
        The KEF Discord has Gender Roles! You can message a moderator or ask in general, and we can attach one or more
        of the following roles to your profile: He/Him, She/Her, They/Them.
      </li>
    </p>
  </mat-card>
</mat-card>
