/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  color: #212121;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.mat-card {
    margin-top: 1%;
    margin-bottom: 1%;
}

.centered {
    text-align: center;
}
