/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  background-repeat: no-repeat;
  background-image: url('/assets/background.png');
  background-size: auto;
  background-color: #000;
  background-position: left 64px;
}

.mat-card {
  margin-top: 1%;
  margin-bottom: 1%;
}

.centered {
  text-align: center;
}
